@import 'global.css';
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Background_Gradient);
}
#carouselAuto, .carouselFigure, .carousel-inner figure img{
    width: 75.6rem;
    height: 60.9rem;
}
#carouselAuto{
    position: relative;
}
.container{
    max-width: none !important;
    width: 135.4rem !important;
    height: 60.9rem;
    display: flex;
    align-items: center;
    gap: 4.5rem;
    margin: 0 !important;
    padding: 0 !important;
}
h1{
    height: 6rem;
    width: 18rem;
    background: var(--Title_Gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'montserrat';
    font-size: 5rem !important;
    margin-bottom: -1rem;
    font-weight: 600 !important;
}
.containerRight{
    max-width: none !important;
    width: 52.6rem !important;
    height: 43.1rem;
    display: flex;
    flex-direction: column;
    gap: 7.3rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: 30.8rem;
    width: 52.6rem;
}
input{
    width: 52.6rem;
    height: 5.6rem;
    border-radius: 0.5rem;
    background: var(--Input_Backgrounds);
    color: var(--White);
    font-size: 1.6rem !important;
    font-family: 'montserrat';
    border-color: var(--Text_Gray);
    display: flex;
    align-items: center;
    padding-left: 2.1rem;
    border-style: solid;
}
input:focus{
    width: 52.6rem;
    height: 5.6rem;
    border-radius: 0.5rem;
    background: var(--Input_Backgrounds);
    color: var(--White);
    font-size: 1.6rem !important;
    font-family: 'montserrat';
    outline: none;
    border-color: var(--White);
    display: flex;
    align-items: center;
    padding-left: 2.1rem;
    border-style: solid;
}
.email, .password{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
p{
    font-size: 1.6rem;
    font-family: 'montserrat';
    color: red;
    visibility: hidden;
}
.buttonAndSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}
.submitBtn{
    width: 52.6rem;
    height: 6rem;
    background-color: var(--Purple);
    color: var(--White);
    font-size: 1.6rem !important;
    font-family: 'montserrat';
    font-weight: bold !important;
    border-radius: 1rem;
    border-style: none;
}
h5{
    font-family: 'montserrat';
    font-size: 1.6rem;
    color: var(--Text_Gray) !important;
    text-align: center;
}
h5 a{
    color: var(--White);
    font-weight: bolder;
}
.flogo{
    position: absolute;
    top: 2rem;
    left: 2.4rem;
}
.flogo .logo{
    width: 8.6rem;
    height: 7.3rem;
}