@import 'global.css';
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    color: var(--White);
    font-family: 'montserrat';
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: var(--Background2);
}
nav{
    display: flex;
    align-items: center;
    width: 97.5%;
    height: 6rem;
    justify-content: space-between;
}
.logo{
    width: 23.7rem;
    height: 5.1rem;
}
.rightNav{
    width: 47.6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    gap: 4.6rem;
}
.profile{
    width: 37rem;
    height: 6rem;
    display: flex;
    align-items: center;
    gap: 2.2rem;
}
.names{
    width: 28.8rem;
    height: 4.6rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.6rem;
}
.names h2{
    height: 2.4rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.names h4{
    height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.pImg{
    width: 5rem;
    height: 5rem;
}
.rightNav button{
    width: 6rem;
    height: 6rem;
    border-radius: 1.5rem;
    background: linear-gradient(45deg, #4C8EFF 0%, #B67DFF 100%);
    border: none;
    cursor: pointer;
    font-size: 3.6rem;
    color: var(--White);
}
main{
    background-color: var(--Background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 8rem);
}
.container{
    width: 126.8rem;
    height: 48.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.today, .tomorrow, .done, .late{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 28.7rem;
    height: 48.1rem;
}
.today h2, .tomorrow h2, .done h2, .late h2{
    height: 2.4rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bolder;
}
.tomorrow h2{
    width: 30.4rem;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.1rem 2.3rem;
    height: 42.7rem;
    gap: 2rem;
    background-color: var(--Background2);
    border-radius: 2rem;
}
.card{
    width: 24.1rem;
    height: 11.6rem;
    display: flex;
    flex-direction: column;
    background-color: var(--Input_Backgrounds);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 0.8rem;
}
.cardData{
    width: 21.8rem;
    height: 9.9rem;
    gap: 0.9rem;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    gap: 3.5rem;
}
.title h3{
    font-size: 1.6rem;
    font-weight: bold;
    width: 16.2rem;
    height: 3.2rem;
}
.pencil{
    width: 1.8rem;
    height: 1.8rem;
}
.button{
    display: flex;
    align-items: center;
    gap: 3.8rem;
}
.cardData h5{
    font-size: 1.2rem;
    font-weight: lighter;
    height: 2.4rem;
}
.button h4{
    font-size: 1.2rem;
    font-weight: normal;
}
.cardButton{
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: var(--Blue);
    border-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--White);
}
.cardButton1{
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: var(--Transparent_Blue);
    border-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--White);
}
.cardButton2{
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: var(--Red);
    border-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--White);
}